
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 1024px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 170px;
            background-color: transparent;
            width: 1024px;
        }
        
        .silex-id-1520771141271-60 {
            width: 585px;
            min-height: 90px;
            top: 45px;
            left: 15px;
        }
        
        .silex-id-1520771186398-61 {
            width: 424px;
            background-color: rgb(255, 255, 255);
            min-height: 90px;
            top: 80px;
            left: 600px;
        }
        
        .silex-id-1520771263092-65 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 30px;
            top: 60px;
            left: 0px;
        }
        
        .silex-id-1520771343483-69 {
            top: 4px;
            left: 0px;
            min-height: 20px;
            width: 100px;
            top: 0px;
        }
        
        .silex-id-1520771285852-66 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 30px;
            top: 60px;
            left: 210px;
        }
        
        .silex-id-1520771405540-71 {
            top: 4px;
            left: 0px;
            min-height: 20px;
            width: 100px;
            top: 0px;
        }
        
        .silex-id-1520771298126-68 {
            width: 110px;
            background-color: rgb(255, 255, 255);
            min-height: 30px;
            top: 60px;
            left: 315px;
        }
        
        .silex-id-1520771413180-72 {
            top: 4px;
            left: 0px;
            min-height: 20px;
            width: 110px;
            top: 0px;
        }
        
        .silex-id-1520771286969-67 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 30px;
            top: 60px;
            left: 105px;
        }
        
        .silex-id-1520771393880-70 {
            top: 4px;
            left: 0px;
            min-height: 20px;
            width: 100px;
            top: 0px;
        }
        
        .silex-id-1520769908078-3 {
            min-width: 1024px;
            background-color: rgba(207, 207, 207, 1);
        }
        
        .silex-id-1520769908077-2 {
            width: 1024px;
            min-height: 2400px;
        }
        
        .silex-id-1520770385024-49 {
            width: 180px;
            background-color: rgba(58, 109, 154, 0.8666666666666667);
            min-height: 2400px;
            top: 0px;
            left: 0px;
            opacity: 1;
        }
        
        .silex-id-1520770493250-51 {
            width: 180px;
            background-color: transparent;
            min-height: 50px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520771066095-57 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1520771079275-58 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 69px;
        }
        
        .silex-id-1520771090358-59 {
            width: 40px;
            min-height: 40px;
            top: 6px;
            left: 126px;
        }
        
        .silex-id-1520770556696-54 {
            width: 170px;
            top: 378px;
            left: 5px;
            min-height: 100px;
        }
        
        .silex-id-1520770614724-55 {
            width: 170px;
            top: 332px;
            left: 5px;
            min-height: 40px;
        }
        
        .silex-id-1520771055541-56 {
            width: 135px;
            min-height: 144px;
            top: 80px;
            left: 22.5px;
        }
        
        .silex-id-1520777118863-126 {
            width: 100px;
            min-height: 20px;
            top: 282px;
            left: 5px;
        }
        
        .silex-id-1520777165687-127 {
            width: 100px;
            min-height: 20px;
            top: 229px;
            left: 22.5px;
        }
        
        .silex-id-1520770390391-50 {
            width: 844px;
            background-color: rgba(68, 127, 176, 0.611764705882353);
            min-height: 2400px;
            top: 0px;
            left: 180px;
            opacity: 1;
        }
        
        .silex-id-1520771724928-73 {
            width: 548.6px;
            background-color: transparent;
            min-height: 1400px;
            top: 50px;
            left: 15px;
        }
        
        .silex-id-1520771829536-75 {
            width: 500px;
            min-height: 25px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520771968161-77 {
            width: 548.6px;
            min-height: 285px;
            top: 50px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772037559-78 {
            width: 548.6px;
            min-height: 425px;
            top: 360px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772084197-79 {
            width: 548.6px;
            min-height: 405px;
            top: 810px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772147779-80 {
            width: 548.6px;
            min-height: 145px;
            top: 1240px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520771763068-74 {
            width: 253.2px;
            background-color: transparent;
            min-height: 915px;
            top: 100px;
            left: 578.6px;
        }
        
        .silex-id-1520772518839-88 {
            width: 100%;
            top: 0px;
            left: 0px;
            min-height: 330px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772587628-89 {
            width: 100%;
            top: 355px;
            left: 0px;
            min-height: 125px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520776347270-90 {
            width: 100%;
            top: 505px;
            left: 0px;
            min-height: 165px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520776380410-91 {
            width: 100%;
            top: 695px;
            left: -1px;
            min-height: 125px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772242297-81 {
            width: 548.6px;
            background-color: transparent;
            min-height: 900px;
            top: 1490px;
            left: 15px;
        }
        
        .silex-id-1520772294729-82 {
            width: 500px;
            min-height: 25px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520772316898-83 {
            width: 548.6px;
            min-height: 160px;
            top: 50px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772358085-84 {
            width: 548.6px;
            min-height: 160px;
            top: 235px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772387401-85 {
            width: 548.6px;
            min-height: 125px;
            top: 420px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772442089-86 {
            width: 548.6px;
            min-height: 135px;
            top: 570px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520772480720-87 {
            width: 548.6px;
            min-height: 135px;
            top: 730px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520779134569-201 {
            width: 200px;
            min-height: 35px;
            top: 50px;
            left: 578.5px;
        }
        
        .silex-id-1520779180070-202 {
            width: 253.2px;
            background-color: transparent;
            min-height: 300px;
            top: 1050px;
            left: 578.6px;
        }
        
        .silex-id-1520779213478-203 {
            width: 200px;
            min-height: 35px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520779292444-204 {
            width: 100%;
            top: 60px;
            left: 0px;
            min-height: 125px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520770172188-8 {
            background-color: rgba(207, 207, 207, 1);
        }
        
        .silex-id-1520770172187-7 {
            min-height: 1300px;
        }
        
        .silex-id-1520776544218-95 {
            width: 180px;
            background-color: rgba(58, 109, 154, 0.8666666666666667);
            min-height: 1300px;
            top: 0px;
            left: 0px;
            opacity: 1;
        }
        
        .silex-id-1520776544219-96 {
            width: 180px;
            background-color: transparent;
            min-height: 50px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520776544219-97 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1520776544219-98 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 69px;
        }
        
        .silex-id-1520776544219-99 {
            width: 40px;
            min-height: 40px;
            top: 6px;
            left: 126px;
        }
        
        .silex-id-1520776544220-100 {
            width: 170px;
            top: 378px;
            left: 5px;
            min-height: 100px;
        }
        
        .silex-id-1520776544222-101 {
            width: 170px;
            top: 332px;
            left: 5px;
            min-height: 40px;
        }
        
        .silex-id-1520776979942-122 {
            width: 180px;
            background-color: transparent;
            min-height: 50px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520776979942-123 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1520776979943-124 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 69px;
        }
        
        .silex-id-1520776979944-125 {
            width: 40px;
            min-height: 40px;
            top: 6px;
            left: 126px;
        }
        
        .silex-id-1520777229568-128 {
            width: 100px;
            min-height: 20px;
            top: 229px;
            left: 22.5px;
        }
        
        .silex-id-1520777280906-129 {
            width: 100px;
            min-height: 20px;
            top: 282px;
            left: 5px;
        }
        
        .silex-id-1520778104107-172 {
            width: 135px;
            min-height: 144px;
            top: 80px;
            left: 22.5px;
        }
        
        .silex-id-1520776634526-115 {
            width: 844px;
            background-color: rgba(68, 127, 176, 0.611764705882353);
            min-height: 1300px;
            top: 0px;
            left: 180px;
            opacity: 1;
        }
        
        .silex-id-1520776658517-116 {
            width: 801.8px;
            background-color: transparent;
            min-height: 1250px;
            top: 50px;
            left: 15px;
        }
        
        .silex-id-1520776738638-117 {
            width: 500px;
            min-height: 25px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520776759453-118 {
            width: 801.8px;
            min-height: 235px;
            top: 50px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520776759471-119 {
            width: 801.8px;
            min-height: 350px;
            top: 310px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520776759477-120 {
            width: 801.8px;
            min-height: 350px;
            top: 685px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520776759484-121 {
            width: 801.8px;
            min-height: 145px;
            top: 1060px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520770196954-10 {
            background-color: rgba(207, 207, 207, 1);
            min-width: 1024px;
        }
        
        .silex-id-1520770196953-9 {
            width: 1024px;
            min-height: 950px;
            top: 15px;
            left: 235px;
        }
        
        .silex-id-1520777443432-144 {
            width: 180px;
            background-color: rgba(58, 109, 154, 0.8666666666666667);
            min-height: 950px;
            top: 0px;
            left: 0px;
            opacity: 1;
        }
        
        .silex-id-1520777443432-145 {
            width: 180px;
            background-color: transparent;
            min-height: 50px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520777443433-146 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1520777443436-147 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 69px;
        }
        
        .silex-id-1520777443436-148 {
            width: 40px;
            min-height: 40px;
            top: 6px;
            left: 126px;
        }
        
        .silex-id-1520777443436-149 {
            width: 170px;
            top: 378px;
            left: 5px;
            min-height: 100px;
        }
        
        .silex-id-1520777443437-150 {
            width: 170px;
            top: 332px;
            left: 5px;
            min-height: 40px;
        }
        
        .silex-id-1520777443437-151 {
            width: 135px;
            min-height: 144px;
            top: 80px;
            left: 22.5px;
        }
        
        .silex-id-1520777443437-152 {
            width: 180px;
            background-color: transparent;
            min-height: 50px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520777443437-153 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 10px;
        }
        
        .silex-id-1520777443438-154 {
            width: 40px;
            min-height: 40px;
            top: 5px;
            left: 69px;
        }
        
        .silex-id-1520777443438-155 {
            width: 40px;
            min-height: 40px;
            top: 6px;
            left: 126px;
        }
        
        .silex-id-1520777443439-156 {
            width: 100px;
            min-height: 20px;
            top: 229px;
            left: 22.5px;
        }
        
        .silex-id-1520777443439-157 {
            width: 100px;
            min-height: 20px;
            top: 282px;
            left: 5px;
        }
        
        .silex-id-1520777457194-158 {
            width: 135px;
            min-height: 144px;
            top: 80px;
            left: 22.5px;
        }
        
        .silex-id-1520777457219-159 {
            width: 100px;
            min-height: 20px;
            top: 229px;
            left: 22.5px;
        }
        
        .silex-id-1520777488494-162 {
            width: 100px;
            min-height: 20px;
            top: 282px;
            left: 5px;
        }
        
        .silex-id-1520777488488-161 {
            width: 170px;
            top: 332px;
            left: 5px;
            min-height: 40px;
        }
        
        .silex-id-1520777488479-160 {
            width: 170px;
            top: 378px;
            left: 5px;
            min-height: 100px;
        }
        
        .silex-id-1520778778749-187 {
            width: 844px;
            background-color: rgba(68, 127, 176, 0.611764705882353);
            min-height: 950px;
            top: 0px;
            left: 180px;
            opacity: 1;
        }
        
        .silex-id-1520778778749-188 {
            width: 801.8px;
            background-color: transparent;
            min-height: 860px;
            top: 50px;
            left: 15px;
        }
        
        .silex-id-1520778778750-189 {
            width: 100%;
            top: 50px;
            left: 1px;
            min-height: 220px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778752-190 {
            width: 100%;
            top: 295px;
            left: 1px;
            min-height: 125px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778753-191 {
            width: 100%;
            top: 445px;
            left: 0px;
            min-height: 130px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778754-192 {
            width: 100%;
            top: 600px;
            left: 0px;
            min-height: 165px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778841176-200 {
            width: 500px;
            min-height: 25px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520778778754-193 {
            width: 801.8px;
            background-color: transparent;
            min-height: 900px;
            top: 50px;
            left: 15px;
        }
        
        .silex-id-1520778778755-194 {
            width: 500px;
            min-height: 25px;
            top: 0px;
            left: 0px;
        }
        
        .silex-id-1520778778755-195 {
            width: 801.8px;
            min-height: 165px;
            top: 235px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778756-196 {
            width: 801.8px;
            top: 50px;
            left: 0px;
            min-height: 160px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778756-197 {
            width: 801.8px;
            min-height: 125px;
            top: 425px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778757-198 {
            width: 801.8px;
            min-height: 135px;
            top: 735px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520778778757-199 {
            width: 801.8px;
            min-height: 135px;
            top: 575px;
            left: 0px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 15px 15px 15px 15px;
        }
        
        .silex-id-1520770313065-46 {
            top: 120px;
            left: NaNpx;
        }
        
        .silex-id-1520770313066-47 {
            min-height: 100px;
        }
        
        .silex-id-1520770313066-48 {
            min-height: 53px;
            width: 349px;
            top: 29px;
            left: 430px;
        }
    